@import '../scss/base/common';
@import '../scss/base/reset';
@import '../scss/base/animation';

@import '../scss/sub/about';
@import '../scss/sub/project';
@import '../scss/sub/project-detail';
@import '../scss/sub/shop';
@import '../scss/sub/contact';

// 메인 콘텐츠
.main-content {
  width: 100%;
  overflow: hidden;
  padding-top: 250px;

  // 웰컴 섹션
  #works {
    padding: 0 10vw;
    margin-bottom: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .work {
      position: relative;
      width: 45%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      opacity: 0;
      transform: translateY(40px);
      z-index: 3;
      transition: all 2.5s cubic-bezier(0.23, 1, 0.32, 1);

      &:nth-of-type(1) {
        transform: translateY(140px);
        transition-delay: 0.1s;
      }
      &:nth-of-type(2) {
        transition-delay: 0s;
      }

      .pic {
        width: 100%;
        height: 100%;
        margin-bottom: 35px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        z-index: 2;

        span {
          font: 15px/1 'quasimoda-light';
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }

    &.on {
      .work {
        opacity: 1;
        transform: translateY(0);

        &:nth-of-type(1) {
          transform: translateY(100px);
        }
      }
    }
  }

  // 슬라이드 섹션
  #projects_slide {
    position: relative;
    width: 100%;
    margin-bottom: 200px;
    z-index: 3;

    .swiper {
      width: 100%;
      height: 100%;

      .swiper-top {
        width: 100%;
        padding: 0 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;

        h1 {
          font: 20px/1 'quasimoda-light';
          letter-spacing: 3px;

          span {
            font: 43px/1 'quasimoda-light';
            letter-spacing: -0.5px;
          }
        }

        .swiper-btns {
          position: relative;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .swiper-button-next {
            position: static;
            margin-top: 0;
            margin-left: 25px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333;
          }

          .swiper-button-prev {
            position: static;
            margin-top: 0;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333;
            transform: scale(-1);
          }

          .swiper-button-next,
          .swiper-button-prev {
            transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);

            .left-w,
            .right-w {
              display: none;
            }

            img {
              width: 35px;
            }

            &::after {
              display: none;
            }

            &:hover {
              background: var(--main-color);

              .left,
              .right {
                display: none;
              }

              .left-w,
              .right-w {
                display: block;
              }

              img {
                color: #fff;
              }
            }
          }
        }
      }

      .swiper-slide {
        position: relative;
        height: 70vh;
        text-align: center;
        font-size: 18px;
        background: #fff;
        text-align: left;
        display: flex;
        overflow: hidden;

        a {
          width: 100%;
        }

        &::after {
          position: absolute;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0);
          transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 2.5s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .under {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;

          h2 {
            font: 15px/1 'quasimoda-light';
            color: #fff;
            margin-bottom: 20px;
          }

          span {
            font: 15px/1 'quasimoda-light';
            color: #fff;

            &:nth-of-type(1) {
              margin-bottom: 40px;
            }
          }
        }

        &:hover {
          &::after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
          }

          img {
            transform: scale(1.05);
          }

          .under {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
        }
      }
    }
  }

  // 수직정원 섹션
  #vertical {
    position: relative;
    width: 100%;
    padding: 60px 15vw;
    background: url(../img/verticalgarden-img1.jpg) no-repeat center/cover fixed;
    margin-bottom: 80px;
    z-index: 3;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }

    .inner {
      position: relative;
      width: 100%;

      z-index: 2;

      .top-contents {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .pic_first {
          position: relative;
          height: 500px;
          transform: translate(-150px);
          opacity: 0;
          transition: all 2.5s cubic-bezier(0.23, 1, 0.32, 1);
          cursor: pointer;

          .pic {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 3;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
            }

            &:hover img {
              transform: scale(1.1);
            }
          }
        }

        .txts {
          display: flex;
          flex-direction: column;
          padding: 0 30px;
          transform: translateX(150px);
          opacity: 0;
          transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
          cursor: pointer;

          h2 {
            margin-bottom: 25px;
            letter-spacing: 2px;
            order: 1;

            a {
              font: 40px/1 'quasimoda-light';
              color: inherit;
            }
          }

          .country-name {
            display: inline-block;
            font: 16px/1 'quasimoda-light';
            letter-spacing: 2px;
            color: inherit;
            margin-bottom: 25px;
            opacity: 0.7;
          }

          .button {
            border: 1px solid white;

            .btn_borders {
              span {
                background: white;
              }
            }

            .btn_text-top,
            .btn_text-bottom {
              color: white;
            }
          }
        }
      }

      .con {
        order: 1;
      }
    }

    &.on {
      .inner .top-contents .pic_first {
        transform: translate(-80px);
        opacity: 1;
      }

      .inner .top-contents .txts {
        transform: translateX(0px);
        opacity: 1;
        transition-delay: 0.1s;
      }
    }
  }
}

//테블릿1
@media all and (min-width: 1282px) and (max-width: 1999px) {
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1281px) {
  .main-content {
    // 웰컴 섹션
    #works {
      margin-bottom: 100px;
      flex-direction: column;
      justify-content: center;

      .work {
        width: 100%;

        &:nth-of-type(1) {
          transform: translateY(40px);
          margin-bottom: 40px;
        }

        .pic {
          margin-bottom: 15px;
        }

        .content {
          span {
            font: 13px/1 'quasimoda-light';
          }
        }
      }

      &.on {
        .work {
          &:nth-of-type(1) {
            transform: translateY(0px);
            margin-bottom: 40px;
          }

          &:nth-of-type(2) {
            margin-bottom: 0px;
          }
        }
      }
    }

    #projects_slide {
      margin-bottom: 100px;

      .swiper {
        .swiper-top {
          margin-bottom: 50px;

          h1 {
            font: 16px/1 'quasimoda-light';
          }

          .swiper-btns {
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .swiper-button-next {
              width: 45px;
              height: 45px;
              margin-left: 15px;
            }

            .swiper-button-prev {
              width: 45px;
              height: 45px;
            }

            .swiper-button-next,
            .swiper-button-prev {
              img {
                width: 25px;
              }
            }
          }
        }

        .swiper-slide {
          height: 60vh;
        }
      }
    }

    #vertical {
      padding: 15vw 10vw;

      .inner {
        .top-contents {
          flex-direction: column;

          .pic_first {
            width: 100%;
            height: 50vh;
            order: 1;
          }

          .txts {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px;
            margin-bottom: 50px;

            h2 {
              display: none;
              margin-left: 10px;
              margin-bottom: 0px;
              letter-spacing: 1.5px;

              a {
                font: 16px/1 'quasimoda-light';
              }
            }

            .country-name {
              opacity: 1;
              margin-bottom: 0px;
              letter-spacing: 3px;
            }

            .button {
              display: none;
            }
          }
        }
      }

      &.on {
        .inner .top-contents .pic_first {
          transform: translate(0px);
        }
      }
    }
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .main-content {
    // 웰컴 섹션
    #works {
      margin-bottom: 100px;
      flex-direction: column;
      justify-content: center;

      .work {
        width: 100%;

        &:nth-of-type(1) {
          transform: translateY(40px);
          margin-bottom: 40px;
        }

        .pic {
          margin-bottom: 15px;
        }

        .content {
          span {
            font: 13px/1 'quasimoda-light';
          }
        }
      }

      &.on {
        .work {
          &:nth-of-type(1) {
            transform: translateY(0px);
            margin-bottom: 40px;
          }

          &:nth-of-type(2) {
            margin-bottom: 0px;
          }
        }
      }
    }

    #projects_slide {
      margin-bottom: 100px;

      .swiper {
        .swiper-top {
          margin-bottom: 50px;

          h1 {
            font: 16px/1 'quasimoda-light';
          }

          .swiper-btns {
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .swiper-button-next {
              width: 45px;
              height: 45px;
              margin-left: 15px;
            }

            .swiper-button-prev {
              width: 45px;
              height: 45px;
            }

            .swiper-button-next,
            .swiper-button-prev {
              img {
                width: 25px;
              }
            }
          }
        }

        .swiper-slide {
          height: 50vh;
        }
      }
    }

    #vertical {
      padding: 15vw 10vw;

      .inner {
        .top-contents {
          flex-direction: column;

          .pic_first {
            width: 100%;
            height: 50vh;
            order: 1;
          }

          .txts {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px;
            margin-bottom: 50px;

            h2 {
              display: none;
              margin-left: 10px;
              margin-bottom: 0px;
              letter-spacing: 1.5px;

              a {
                font: 16px/1 'quasimoda-light';
              }
            }

            .country-name {
              opacity: 1;
              margin-bottom: 0px;
              letter-spacing: 3px;
            }

            .button {
              display: none;
            }
          }
        }
      }

      &.on {
        .inner .top-contents .pic_first {
          transform: translate(0px);
        }
      }
    }
  }
}
