.contact {
  width: 100%;
  height: 70vh;

  #headquarters {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 10vw 100px;

    .inner {
      position: relative;
      display: flex;
      justify-content: start;
      align-items: start;
      width: 100%;
      margin: 0 auto;
      z-index: 3;

      #map {
        width: 50%;
        height: 450px;
        background: #000;
        margin-bottom: 100px;
      }

      .txts {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .txt {
          width: calc(100% / 4);
          transform: translateY(40px);
          opacity: 0;
          animation: title-anime 2.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;

          &:nth-of-type(2) {
            animation-delay: 0.3s;
          }

          &:nth-of-type(3) {
            animation-delay: 0.6s;
          }

          h2 {
            font: 20px/1 'quasimoda-light';
            margin-bottom: 50px;
            letter-spacing: 1px;
            font-weight: 600;
          }

          .em {
            font: 17px/1.5 'quasimoda-light';
            letter-spacing: 3px;
            text-transform: none;
            letter-spacing: 1.5px;
            font-weight: 200;
          }

          p {
            font: 17px/1.5 'quasimoda-light';
            margin-bottom: 15px;
            letter-spacing: 1.5px;
            display: flex;
            font-weight: 200;

            span {
              margin-left: 5px;
              letter-spacing: 0.7px;
              font-weight: 200;
              letter-spacing: 1px;

              &::after {
                content: '';
                display: block;
                width: 0%;
                height: 1px;
                background: #000;
                transition: 0.5s;
              }

              &:hover {
                &::after {
                  width: 100%;
                }
              }
            }
          }

          .instaid {
            text-transform: none;
            letter-spacing: 1.5px;
          }

          address {
            font: 16.5px/1.5 'quasimoda-light';
            cursor: pointer;
            display: inline-block;
            letter-spacing: 1.5px;
            font-weight: 200;
          }
        }
      }
    }
  }

  // #contactus {
  //   position: relative;
  //   width: 100%;
  //   z-index: 3;
  //   padding: 15vw 20vw 7vw;

  //   .contact_top {
  //     position: relative;
  //     display: block;
  //     width: 100%;
  //     text-align: center;
  //     margin-bottom: 1px solid rgba(0, 0, 0, 0.455);
  //     padding-bottom: 50px;
  //     margin-bottom: 70px;

  //     &::after {
  //       content: '';
  //       position: absolute;
  //       bottom: 0;
  //       left: 0;
  //       display: block;
  //       height: 1px;
  //       width: 100%;
  //       background-color: #333;
  //       opacity: 0.1;
  //       transform: translateY(100px);
  //     }

  //     img {
  //       width: 400px;
  //       margin-bottom: 50px;
  //       opacity: 0;
  //       transform: translateY(100px);
  //       animation: title-anime 2s cubic-bezier(0.22, 0.61, 0.36, 1);
  //       animation-fill-mode: forwards;
  //     }

  //     p {
  //       font: 12px/1;
  //       margin-bottom: 10px;
  //       opacity: 0;
  //       transform: translateY(100px);
  //       animation: title-anime 3s cubic-bezier(0.22, 0.61, 0.36, 1);
  //       animation-fill-mode: forwards;
  //     }
  //   }

  //   .inner {
  //     display: flex;
  //     justify-content: center;
  //     width: 100%;
  //     height: 100%;
  //     overflow: hidden;

  //     img {
  //       height: 120%;
  //       object-fit: cover;
  //       object-position: -200px 0%;
  //     }

  //     .con {
  //       width: 100%;
  //       padding: 0 7vw;
  //       text-align: center;

  //       p {
  //         font: 16px/1;
  //         margin: 0 auto;
  //         margin-bottom: 40px;
  //         transform: translateY(100px);
  //         opacity: 0;
  //         animation: title-anime 4s cubic-bezier(0.22, 0.61, 0.36, 1);
  //         animation-fill-mode: forwards;
  //       }

  //       #contact-form {
  //         width: 80%;
  //         margin: 0 auto;
  //         border-radius: 10px;
  //         text-align: left;
  //         display: flex;
  //         flex-wrap: wrap;
  //         justify-content: space-between;
  //         transform: translateY(100px);
  //         opacity: 0;
  //         animation: title-anime 5s cubic-bezier(0.22, 0.61, 0.36, 1);
  //         animation-fill-mode: forwards;

  //         input,
  //         textarea {
  //           width: 100%;
  //           height: 45px;
  //           border: 1px solid rgba(51, 51, 51, 0.3);
  //           font: 14px/1;
  //           padding: 0 15px;
  //           color: var(--main-color);
  //           margin-bottom: 20px;
  //           background-color: white;
  //         }

  //         textarea {
  //           height: 70px;
  //           padding: 15px;
  //         }

  //         .btn-box {
  //           position: relative;
  //           width: 100%;
  //           height: 50px;
  //           margin: 30px auto 0;
  //           display: inline-block;
  //           text-align: center;
  //           font: 14px/50px;
  //           color: var(--main-color);
  //           overflow: hidden;

  //           input[type='submit'] {
  //             width: 100%;
  //             height: 100%;
  //             font: 15px/1;
  //             margin-bottom: 0px;
  //             border: 1px solid rgba(51, 51, 51, 0.3);
  //             cursor: pointer;
  //             transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  //           }

  //           .btn_borders {
  //             width: 100%;
  //             height: 100%;

  //             span {
  //               position: absolute;
  //               background: var(--main-color);
  //               transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  //             }

  //             .border-top {
  //               top: 0;
  //               left: 0;
  //               width: 100%;
  //               height: 1px;
  //               transform: scaleX(0);
  //               transform-origin: right;
  //               transition-delay: 0s;
  //             }

  //             .border-bottom {
  //               bottom: 0;
  //               left: 0;
  //               width: 100%;
  //               height: 1px;
  //               transform: scaleX(0);
  //               transform-origin: left;
  //               transition-delay: 0.2s;
  //             }

  //             .border-right {
  //               top: 0;
  //               right: 0;
  //               width: 1px;
  //               height: 100%;
  //               transform: scaleY(0);
  //               transform-origin: bottom;
  //               transition-delay: 0.1s;
  //             }

  //             .border-left {
  //               top: 0;
  //               left: 0;
  //               width: 1px;
  //               height: 100%;
  //               transform: scaleY(0);
  //               transform-origin: top;
  //               transition-delay: 0.3s;
  //             }
  //           }

  //           &:hover {
  //             .btn_borders {
  //               .border-top {
  //                 transform: scaleX(1);
  //                 transform-origin: left;
  //               }

  //               .border-bottom {
  //                 transform: scaleX(1);
  //                 transform-origin: right;
  //               }

  //               .border-right {
  //                 transform: scaleX(1);
  //                 transform-origin: top;
  //               }

  //               .border-left {
  //                 transform: scaleX(1);
  //                 transform-origin: bottom;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

//테블릿2
@media all and (min-width: 768px) and (max-width: 1281px) {
  .contact {
    #headquarters {
      padding: 300px 5vw 200px;

      .inner {
        .txts {
          width: 100%;
          flex-direction: column;

          .txt {
            width: 100%;
            margin-bottom: 90px;

            address {
              font: 15px/1.5 'quasimoda-light';
            }
          }
        }
      }
    }
  }
}

//모바일
@media all and (max-width: 767px) {
  .contact {
    height: 100%;
    #headquarters {
      padding: 150px 4vw 50px;
      .inner {
        .txts {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;

          .txt {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: start;
            margin-bottom: 90px;

            h2 {
              font-size: 16px;
              margin-bottom: 30px;
            }

            .em {
              font-size: 15px;
            }

            p {
              font-size: 15px;
              margin-bottom: 8px;
            }

            address {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
