.project-detail {
  position: relative;

  #pj-detail {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 300px 0 0;
    margin-bottom: 200px;
    background-color: white;

    .title {
      width: 30%;
      position: relative;
      padding: 0 150px;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      order: 1;
      z-index: 3;

      h3,
      span {
        transform: translateY(50px);
        opacity: 0;
        animation: project-ani 1s cubic-bezier(0.22, 0.61, 0.36, 1);
        animation-fill-mode: forwards;
      }

      h3 {
        font: 18px/1 'quasimoda-light';
        margin-bottom: 20px;
        animation-delay: 0.1s;
      }

      span {
        display: inline-block;
        letter-spacing: 1.5px;
      }

      span:nth-of-type(1) {
        font: 15px/1.5 'quasimoda-light';
        animation-delay: 0.2s;
        margin-bottom: 15px;
        font-weight: 200;
      }

      span:nth-of-type(2) {
        font: 15px/1.5 'quasimoda-light';
        animation-delay: 0.3s;
        margin-bottom: 50px;
        font-weight: 200;
      }

      span:nth-of-type(3) {
        font: 15px/1.5 'quasimoda-light';
        animation-delay: 0.4s;
        margin-bottom: 200px;
        letter-spacing: 1px;
        font-weight: 200;
      }

      .scroll-line {
        position: fixed;
        right: 15%;
        background-color: rgba(0, 0, 0, 0.123);

        &::after {
          background-color: #00000038;
        }
      }
    }
    .inner {
      width: 77%;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      z-index: 3;

      .pic {
        width: 100%;
        margin-bottom: 10px;

        img {
          width: 100%;
          object-fit: cover;
        }

        video {
          width: 100%;
          object-fit: cover;
        }
      }

      // .txts {
      //   position: relative;

      //   h1 {
      //     font: 45px/1 ;
      //     color: var(--main-color);
      //     margin-bottom: 40px;

      //     span {
      //       font: 43px/1 ;
      //       letter-spacing: -0.5px;
      //     }
      //   }

      //   p {
      //     font: 15px/2 ;
      //     color: var(--main-color);
      //     opacity: 0.8;
      //     margin-bottom: 50px;
      //   }
      // }
    }
  }

  .popup-img {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 200px;
    z-index: 1000;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .arrow-left,
    .arrow-right {
      width: 80px;
    }

    .arrow-left {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%) scaleX(-1);
    }

    .arrow-right {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    .xmark {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      margin-right: 50px;
      margin-top: 30px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 1px;
        height: 40px;
        background-color: black;
        transform: rotate(45deg);
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 1px;
        height: 40px;
        background-color: black;
        transform: rotate(-45deg);
      }
    }
  }
}

//테블릿
@media all and (min-width: 1282px) and (max-width: 1999px) {
  .project-detail {
    #pj-detail {
      padding: 230px 0 0;
      .title {
        padding: 0 100px;
      }
    }
  }
}

//테블릿
@media all and (min-width: 768px) and (max-width: 1281px) {
  .project-detail {
    #pj-detail {
      padding: 120px 0 0;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;

      .title {
        width: 100%;
        padding: 0 4vw 60px;
        display: flex;
        flex-direction: column;
        order: 0;

        h3 {
          font-size: 16px;
        }

        span:nth-of-type(1) {
          font-size: 14px;
          margin-bottom: 15px;
        }

        span:nth-of-type(2) {
          font-size: 14px;
          margin-bottom: 20px;
        }

        span:nth-of-type(3) {
          font-size: 14px;
          margin-bottom: 0;
        }

        .scroll-line {
          position: absolute;
          right: 10%;
          background-color: rgba(0, 0, 0, 0.123);

          &::after {
            background-color: #00000038;
          }
        }
      }

      .inner {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 3;

        .pic {
          width: 100%;
          margin-bottom: 10px;

          img {
            width: 100%;
            object-fit: cover;
          }

          video {
            width: 100%;
            object-fit: cover;
          }
        }

        // .txts {
        //   position: relative;

        //   h1 {
        //     font: 45px/1 ;
        //     color: var(--main-color);
        //     margin-bottom: 40px;

        //     span {
        //       font: 43px/1 ;
        //       letter-spacing: -0.5px;
        //     }
        //   }

        //   p {
        //     font: 15px/2 ;
        //     color: var(--main-color);
        //     opacity: 0.8;
        //     margin-bottom: 50px;
        //   }
        // }
      }
    }

    .popup-img {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 200px;
      z-index: 1000;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .arrow-left,
      .arrow-right {
        width: 80px;
      }

      .arrow-left {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%) scaleX(-1);
      }

      .arrow-right {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }

      .xmark {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        margin-right: 50px;
        margin-top: 30px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          width: 1px;
          height: 40px;
          background-color: black;
          transform: rotate(45deg);
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          width: 1px;
          height: 40px;
          background-color: black;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

//모바일
@media all and (max-width: 767px) {
  .project-detail {
    #pj-detail {
      padding: 120px 0 0;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;

      .title {
        width: 100%;
        padding: 0 4vw 60px;
        display: flex;
        flex-direction: column;
        order: 0;

        h3 {
          font-size: 16px;
        }

        span:nth-of-type(1) {
          font-size: 14px;
          margin-bottom: 15px;
        }

        span:nth-of-type(2) {
          font-size: 14px;
          margin-bottom: 20px;
        }

        span:nth-of-type(3) {
          font-size: 14px;
          margin-bottom: 0;
        }

        .scroll-line {
          position: absolute;
          right: 10%;
          background-color: rgba(0, 0, 0, 0.123);

          &::after {
            background-color: #00000038;
          }
        }
      }

      .inner {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 3;

        .pic {
          width: 100%;
          margin-bottom: 10px;

          img {
            width: 100%;
            object-fit: cover;
          }

          video {
            width: 100%;
            object-fit: cover;
          }
        }

        // .txts {
        //   position: relative;

        //   h1 {
        //     font: 45px/1 ;
        //     color: var(--main-color);
        //     margin-bottom: 40px;

        //     span {
        //       font: 43px/1 ;
        //       letter-spacing: -0.5px;
        //     }
        //   }

        //   p {
        //     font: 15px/2 ;
        //     color: var(--main-color);
        //     opacity: 0.8;
        //     margin-bottom: 50px;
        //   }
        // }
      }
    }

    .popup-img {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 200px;
      z-index: 1000;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .arrow-left,
      .arrow-right {
        width: 80px;
      }

      .arrow-left {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%) scaleX(-1);
      }

      .arrow-right {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }

      .xmark {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        margin-right: 50px;
        margin-top: 30px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          width: 1px;
          height: 40px;
          background-color: black;
          transform: rotate(45deg);
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          width: 1px;
          height: 40px;
          background-color: black;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
