* {
  margin: 0;
  font-family: 'quasimoda-light', sans-serif;
  box-sizing: border-box;
}

html {
  font-family: 'quasimoda-light', sans-serif;
}

body {
  font-family: 'quasimoda-light', sans-serif;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

fieldset {
  border: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-sizing: none;
  }
}

a,
button {
  cursor: pointer;
}

// 메인 컬러
:root {
  --main-color: #161f1e;
}

// 폰트
@font-face {
  font-family: 'sectra';
  src: url('/font/Sectra.otf') format('truetype');
}
